{% extends 'base.html' %}

{% block title %}Jadwal{% endblock %}
{% block page_title %}Jadwal Harian{% endblock %}
{% block subtitle %}Rutinitas Santri{% endblock %}

{% block content %}
  <section class="box">
    <h3 class="section-title">Jadwal Aktivitas</h3>
    <div class="schedule">
       <div class="sched-item"><span class="time">03:00-04:25</span><div><b>Bangun malam &amp; Sholat malam</b><small>Wajib di masjid</small></div></div>
      <div class="sched-item"><span class="time">04:25-05:05</span><div><b>Sholat Subuh &amp; Dzikir</b><small>Berjamaah di masjid</small></div></div>
      <div class="sched-item"><span class="time">05:05-06:00</span><div><b>Menghafalkan matan</b><small>Setoran &amp; muraja'ah</small></div></div>
       <div class="sched-item"><span class="time">06:00-06:50</span><div><b>Bersih-bersih asrama &amp; Strecing</b><small></small></div></div>
      <div class="sched-item"><span class="time">06:50-07:25</span><div><b>Sarapan Pagi &amp; Mandi</b><small>Asrama</small></div></div>
      <div class="sched-item"><span class="time">07:30-07:50</span><div><b>Morning spirit</b><small></small></div></div>
      <div class="sched-item"><span class="time">07:50-10:15</span><div><b>KBM matan</b><small>Setiap hari sampai 10:15 kecuali hari jum'at</small></div></div>
      <div class="sched-item"><span class="time">10:15-11:41</span><div><b>Istirahat siang</b><small>Wajib di kamar semua</small></div></div>
      <div class="sched-item"><span class="time">12:00-13:00</span><div><b>Sholat Dzuhur &amp; Makan siang</b><small>Asrama</small></div></div>
      <div class="sched-item"><span class="time">13:00-15:01</span><div><b>KBM matan</b><small>Aqidah, Fiqih, siroh</small></div></div>
      <div class="sched-item"><span class="time">15:01-15:30</span><div><b>Sholat Ashar &amp; Dzikir petang</b><small>Di masjid</small></div></div>
      <div class="sched-item"><span class="time">15:30-17:00</span><div><b>Bebas</b><small>Main bola, basket, dll</small></div></div>
      <div class="sched-item"><span class="time">17:35-18:46</span><div><b>Sholat Maghrib &amp; Murojaah Al-Qur'an</b><small>Bersama ustadz</small></div></div>
      <div class="sched-item"><span class="time">19:30-21:30</span><div><b>KBM  IT</b><small>Bersama mentor</small></div></div>
      <div class="sched-item"><span class="time">21:30-22:00</span><div><b>Persiapan tidur</b><small>Jam 10:00 udah wajib di kamar</small></div></div>
      <div class="sched-item"><span class="time">22:00-03:00</span><div><b>Istirahat Malam</b><small>Tidur</small></div></div>
    </div>
  </section>
{% endblock %}
